<div data-controller="geolocation"
    data-geolocation-envirorment-value=<%= ENV.fetch('APP_ENV', 'production') %>>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Weather Site</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="modal" data-bs-target="#changeCityModal">
              Change City
            </button>
          </li>
          <li class="nav-item">
            <button data-action="geolocation#getLocation" class="nav-link">
              Show weather from your location
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>


</div>
<turbo-frame id='current-weather'>
  Weather should be here, if you are reading this you need to accept location permissions,
  click to Show weather from your location or pick a city
</turbo-frame>

<div class="modal fade" id="changeCityModal" tabindex="-1" aria-labelledby="changeCityModalLabel"
  aria-hidden="true" data-controller="geolocation location-form"
  data-location-form-url-state-value="<%= filter_select_location_path %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeCityModalLabel">See weather for a different city</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if @use_cities_gem %>
          <div class="mb-2">
            <%= label_tag :country, 'Country', class: 'form-label' %>
            <%= select_tag(:country, options_for_select(CS.countries.invert), class: 'form-control',
              data: { action: 'location-form#countrySelect', geolocation_target: 'country',
              location_form_target: 'country'}, prompt: 'Please Select') %>
          </div>
        <% end %>
        <div class="mb-2">
          <%= label_tag :state, 'State', class: 'form-label' %>
          <%= select_tag(:state, options_for_select(@states), class: 'form-control',
            data: { action: 'location-form#stateSelect', location_form_target: 'state'},
            disabled: @use_cities_gem) %>
        </div>

        <div class="mb-2">
          <%= label_tag :city, 'City', class: 'form-label' %>
          <%= select_tag(:city, options_for_select([]), class: 'form-control',
            data: { geolocation_target: 'city', location_form_target: 'city' },
            disabled: true)%>
        </div>
      </div>
      <div class="modal-footer">
        <button data-action="geolocation#getCityWeather" class="btn btn-info my-3"
          data-location-form-target="button" disabled=true data-bs-dismiss="modal">
          Get weather from this city
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
